<html>
    <head>
      {% if title %}
      <title>{{ title }} - Link Generator</title>
      {% else %}
      <title>Welcome to Link Generator</title>
      {% endif %}
    </head>
    <body>
        <div>
            Link Generator
            {% if current_user.is_authenticated %}
                {{ current_user.email }} your login counter {{ current_user.counter }}
            {% endif %}:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('create_link') }}">Create link</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr/>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}>
        {% block content %}{% endblock %}
    </body>
</html>